.button-container button {
  background-color: #045aaa; /* Green background */
  border: 1px solid rgb(0, 19, 128); /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 50%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}

.button-container button:hover {
  background-color: #533e8e;
}

.button-container button:active {
  background-color: #3f3e8e;
}

.button-container {
  display: grid;
  grid-row-gap: 10px;
  position: relative;
  top: 50px;
  bottom: 50%;
  width: 20%;
  text-align: center;
}

.pics {
  display: none;
  width: 100%;
}

.pics-container {
  display: block;
  position: relative;

  margin-left: 340px;
  width: 50%;
  bottom: 350px;
}

body{
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  position: relative;
  text-align: center;
}
